<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <style>
      body{
      background-color:#FAF8F1;

      }
      .div{
      min-width:45%;
      display:inline-block;
      border-left-style: single;
      border-left-width:3px;
      border-color:black;
      }

      #button{
      background-color:white;
      border: single;
      width:100%;
      word-wrap: break-word;
      padding-top:2%;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      }

    </style>
</head>
<body>
<div style="min-width:25%;display:inline-block;border-"></div>
<div class="div">
    <h3 style="display:inline-block;">ALL QUESTIONS</h3>
    <form style="display:inline-block;padding-left:40%;" th:action="@{/ask-question}">
        <button class=button;type="submit">Ask Question</button>
    </form>
    <br>
    <br>
<div th:each="question : ${questions}">
    <form th:action="@{/display-question}">
        <input type="hidden" name="questionId" th:value="${question.id}">
        <button id="button" type="submit">
           <div>
               <h2 th:text=${question.title}></h2>
               <p th:text=${question.problem}></p>
           </div>
        </button>
        <br>
        <br>
    </form>
</div>
</div>
<div style="min-width:25%;display:inline-block"></div>
</body>
</html>