<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <style>
        body{
      background-color:#FAF8F1;
      }
      .class {
      background-color:white;
      }
    </style>
</head>
<body>
<h3 th:text=${question.title}></h3>
<p th:text=${question.problem}></p>
<p th:text="${question.expectation}"></p>
<span th:each="tag : ${question.tags}">
        <span>[[${tag.name}]]</span>&nbsp
    </span>
<form th:action="@{/update-question/{id}(id=${question.id})}" method="post">
    <button type="submit">update</button>
</form>
<form th:action="@{/delete-question/{id}(id=${question.id})}" method="post">
    <button type="submit">delete</button>
</form><br>
<div class="answers" th:each="answer : ${question.answers}">
    <div th:text="${answer.content}"></div>
    <form th:action="@{/update-answer/{id}(id=${answer.id})}" method="post">
        <input type="hidden" name="questionId" th:value="${question.id}">
        <button type="submit">update</button>
    </form>
    <form th:action="@{/delete-answer/{id}(id=${answer.id})}" method="post">
        <input type="hidden" name="questionId" th:value="${question.id}">
        <button type="submit">delete</button>
    </form><br>
</div>
<form th:action="@{/save-answer}" th:object="${newAnswer}" method="post">
    <input type="hidden" name="questionId" th:value="${question.id}">
    <textarea th:field="*{content}"></textarea>
    <button type="submit">submit</button>
</form>
</body>
</html>