<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            body{
            background-color:#FAF8F1;
            padding:3% 0 3% 5%;
            }
            .input{
            width:40%;
            padding:0.5% 0 0 0;
            font-size:100%;
            }
            .textarea{
            width:40%;
            padding:0.5% 0 0 0;
            font-size:100%;
            font-weight:heavy;
            }
            button{
            padding:.5% .5% 0.5% 0.5%;
            }
        </style>
    </head>
    <body>
        <h2>Ask a public Question</h2>

        <br><br>
        <h3>Title</h3>
        <form th:action="@{/post-question}" th:object="${question}" method="post">
            <input type="hidden" name="id" th:value="${question?.id}" >
            <input class="input"  type="text" th:name="title" th:value="${question?.title}" placeholder="Enter the title for your question"/>
            <br><br>
            <h4>What are the details of your problem?</h4>
            <input class="textarea" type="textarea" th:name="problem" th:value="${question?.problem}" />
            <br><br>
            <h4>What did you try and what were you expecting?</h4>
            <input class="textarea" type="textarea" th:name="expectation" th:value="${question?.expectation}" />
            <br><br>
            <h4>Tags</h4>
            <input class="input" type="text" name="tag" th:value="${questionTags}">
            <br><br>
            <button type="submit">Post</button>
        </form>
    </body>
</html>