<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/create-team}" method="post">
    <input type="text" name="teamName">
    <input type="submit" value="create">
</form>
<div th:each="team : ${teams}">
    <div style="border:1px solid grey;padding-top:3%;padding-bottom:3%;min-width:50%,max-width:50%;">
    <a th:href="@{/displayTeam(teamId=${team.id})}" th:text="team.name"></a>
    <p th:text=${team.admin.name}></p>
    <p th:text=${team.members.size()}></p>
        </div>
    <br>
    <br>
</div>
</body>
</html>