<!DOCTYPE html>
<head>
<style>
    #header .container{
        border: 1px solid black;
        display: flex;
        position: fixed;
        top: 5px;
        justify-content: space-around;
        width: 100%;
        align-items: center;

      }
</style>

</head>
<body>
    <div th:fragment="site-header" id="header">
        <div class="container">
            <h3>stack Overflow</h3>&nbsp&nbsp
            <form th:action="@{/search}" method="get">
            <input style="height: 30px; margin: 10px;" type="search"  name="searchKey" placeholder="Search..">
            </form>
            <div sec:authorize="isAnonymous()" style="margin:10px;">
                <form th:action="@{/login}" method="post">
                    <input type="submit" value="Log In">
                </form>
            </div>
            <div sec:authorize="isAuthenticated()" style="margin:10px;">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Log Out">
                </form>
            </div>
        </div>
    </div>
</body>
</html>